.modal{
    background: rgba(0,0,0,0.67);
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeIcon{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    cursor: pointer;
}

.swiper{
    max-height: 100%;

}

.swiperSlider{
    display: flex!important;
    align-items: center;
    justify-content: center;
}


.imgPhotoBlock{
    object-fit: cover;
    object-position: center center;
}

@media (min-width: 768px) {
    .imgPhotoBlock{
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .imgPhotoBlock{
        width: 100vw;
    }

}

